#############################################
#           VISUAL STUDIO / .NET
#############################################

## User-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
publish/

## Rider IDE
.idea/
*.iml

## NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

## Config / Secrets
appsettings.*.json
*.db
*.pdb
*.cache
*.log
*.dll
*.exe
*.app

#############################################
#               PYTHON
#############################################

# Bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
.python-version

# PyInstaller
dist/
build/
*.spec

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# MyPy / Coverage / Testing
.mypy_cache/
